// Base Styles /////////////////////////////////////////////////////////////////

a {
    @include transition(all 0.2s ease-in);    
}

a:hover {
    text-decoration: none;
    @include transition(all 0.2s ease-out);
}

h1 {
    color: $h1-color;
}

ul li {
    // counter-increment: foo;
    display: table-row;
    list-style: none;
}

ol {
    // counter-reset: foo;
    display: table;
}

ol, ul {
    margin-bottom: 0px;
}

button:focus {
outline: none;
}

li::before {
    // content: counter(foo) ".";
    display: table-cell; /* aha! */
    text-align: right;
}

iframe {
    @include border-radius($border-radius-img);
}

.label {
    font-weight: $light;
    padding: .2em .8em .3em;
    font-size: 50%;
    vertical-align: 40%;
    text-transform: uppercase;
}

.primary-content, .sidebar {

    img {
    border: 1px solid #dddddd;
    }
}

.primary-content img {
    @include border-radius($border-radius-img);
    max-width: 100%;
    height: auto;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}

header .navbar-brand {
    padding-bottom: 0px;
    height: auto;
    display: block;
    padding-top: ($navbar-height / 3.2);
}

.col-no-padding {
    padding-left: 0px!important;
    padding-right: 0px!important;
}    

.btn-sprite {
  height:$btn-sprite-height + 4;
  width:$btn-sprite-width + 4;
  margin: 0 8px;
  display: inline-block;
}

.circle {
    @include border-radius(400px);
}

// Images /////////////////////////////////////////////////////////////////

.img-thumb {
    width: $img-thumb;
    height: $img-thumb;
    border: 3px solid $gray-darker;
}


// Masthead /////////////////////////////////////////////////////////////////

.masthead {
    color: #fff;
    position: relative;

    .download-buttons {
        position: absolute;
        left: 50%;
        bottom: -25px;
        height: 49px;
        width: auto;
        margin-left: -147px;    

        div {        
            border: 2px solid $gray-dark;
            @include border-radius(8px);
        }    
    }
}

body .masthead .background {
    opacity: 100;
    filter: alpha(opacity=10000);
    opacity: 1;
    filter: alpha(opacity=100);
}

.icon-section {
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-sm {

    p, span, h1, h2, h3, h4, h5, h6 {
        color: $gray-darker;
    }

    h4 {
        margin-top: 11px;
    }
}

#btn-action {
    margin-bottom: 0;
}

.icon-sections {
    margin-top: 15px;
    vertical-align: middle;
    height: 50px;
    line-height: 1;
}

.home .masthead .background {
    background-image: image-url("bg-photo01.jpg");
}

// Sidebar Feature Image /////////////////////////////////////////////////////////////////

.sidebar-col .attachment-sidebar-thumb {
    margin-bottom: $space-md;
    max-width: 100%;
    height: auto;
}

.page-template-page-product-php .body-content img {
    border: none;
}

// Buttons /////////////////////////////////////////////////////////////////

.btn, .gform_button {
    text-transform: $btn-case;
    letter-spacing: 1px;
}

.btn-clear {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
    border: 2px solid $brand-clear;
    color: $brand-clear;
    padding: ($padding-base-vertical - 1) $padding-base-horizontal;
}

.btn-lg.btn-clear {
    padding: ($padding-large-vertical - 1) $padding-large-horizontal;
}

.btn-sm.btn-clear {
    padding: ($padding-small-vertical - 1) $padding-small-horizontal;
}

.btn-xs.btn-clear {
    padding: ($padding-xs-vertical - 0.5) $padding-xs-horizontal;
}

.btn-clear:hover {
    background-color: $brand-clear;
    color: $btn-clear-hover-color;
}

.bg-primary {
    background-color: $brand-primary;
    .btn-clear {
        border: 2px solid $gray-darker;
        color: $gray-darker;
        padding: ($padding-base-vertical - 1) $padding-base-horizontal;
    }

    .btn-lg.btn-clear {
        padding: ($padding-large-vertical - 1) $padding-large-horizontal;
    }

    .btn-sm.btn-clear {
        padding: ($padding-small-vertical - 1) $padding-small-horizontal;
    }

    .btn-xs.btn-clear {
        padding: ($padding-xs-vertical - 0.5) $padding-xs-horizontal;
    }

    .btn-clear:hover {
        background-color: $gray-darker;
        color: $brand-primary;
    }    
}

.body-content .btn {
margin-top: 5px;
margin-bottom: 10px;
}

.footer .btn {
margin-bottom: 10px;
}

.fa-right {
margin-left: 10px;
}

.fa-left {
margin-right: 10px;
}

.btn-right {
margin-left: 60px;
}

.btn-left {
margin-right: 60px;
}



.btn-secondary {
color: $btn-secondary-color;
background-color: $btn-secondary-bg;
border-color: $btn-secondary-border;
}

.social-btns {
    margin-top: $space-sm;
    a { color: $gray-light; }
    i { margin: 0 8px 0 8px; }
}


// Header Navigation Menus /////////////////////////////////////////////////////////////////

header .brand .navbar-brand img {
    width: $logo-md-width;
    height: auto;
}  

.nav > .menu-item > a {
    font-weight: $navbar-font-weight;
    text-transform: uppercase;
    font-size: $font-size-nav;
    letter-spacing: 1px;
}

header .navbar-form {
    margin-top: 0;
    margin-top: 0;
}

.tagline {
    font-size: 16px;
    font-weight: 300;    
    padding-top: 7px;
}

.navbar {
    margin-bottom: 0px;
}

body > header > .top-navbar {
    border-bottom: 5px solid $gray-lighter;
}

.navbar-toggle {
    margin-top: ($navbar-height * 0.29) ;
    margin-bottom: 23px;
    margin-right: -10px;    
}

.navbar-toggle i {
    color: #ffffff;
}

.navbar-toggle .icon-bar {
    height: 3px;
}

.navbar-toggle:focus {
    outline: none;
}

.navbar-collapse .navbar-nav li {
    border-bottom: 1px solid lighten($navbar-default-bg, 10%);
}

.navbar-nav {
    margin: 0px;
}

.navbar-collapse {
    max-height: $navbar-collapse-max-height;
}

.sub-menu .menu-item:hover {
color: #ffffff!important;
}

.sub-menu .menu-item {

    a:hover {
        color: #ffffff!important;
    }
}

.nav .open .dropdown-toggle {
    color: $navbar-default-link-open-color!important;
}

.mobile-landing {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 18px;
    background-color: $gray-dark;
    z-index: 50;
    padding-top: 15px;

    .phone a {
        margin-top: 15px;
        font-size: 17px;
        padding: 14px 0px;
    }
}

// Small-Footer Navigation Menus /////////////////////////////////////////////////////////////////

.footer-logo {
    // padding-bottom: $space-lg;
    display: block;
    text-align: center;

    img {
        width: $logo-xs-width;
        height: auto;
    }
}

.small-footer {
    background: darken($footer-bg-color, 7%);

    a {
        display: block;
        text-align: center;
        color: $gray-light;
    }

    .footer-credits {
        width: 100%;
    }
    
    .footer-menu {
        width: 100%;

        .menu li a {
            font-size: $font-size-small;
        }
    }
}


// Headings /////////////////////////////////////////////////////////////////

.body-content {
    // @include dynamic-headings-color($headings-color, $body-bg, $text-color); // If header color is same as bg, then darken text color
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.primary-content {
    h2, h3, h4, h5, h6 {
        margin: $paragraph-top-margin;
        margin-bottom: 0px;
    }
}


// Phone Number
.top-header .widget h3 {
    font-size: 26px;
    font-family: "proxima-nova";
    font-weight: bold;
}

// Site Title
.site-title a {
    font-size: $font-size-h3;
}

// Links /////////////////////////////////////////////////////////////////

.block {
    display: block;
}

// Lists /////////////////////////////////////////////////////////////////

.nav .menu-item .dropdown-menu {
    padding: 0px 0px;
    @include border-radius(4px);
    left: 10px;
    top: 100px;

    li {
    display: list-item;

        a {
            font-size: $font-size-nav;
            color: #cccccc;
            padding: 10px 30px;            
            border-top: 1px solid lighten($brand-dark, 5%);  
            text-transform: uppercase;
            letter-spacing: 1px;                        
        }
    }

}

.body-content {

    ul li:before {
        font-family: 'FontAwesome';
        content: "\f054";
        padding-right: 15px;        
        color: $list-bullet-color;
    }
}

// Gravity Forms

.ginput_container input, .ginput_container select, .ginput_container textarea {
    padding-left: 8px;
    padding-right: 8px;
}

.gform_wrapper .gform_button {
    @extend .btn-primary    
}



.body-content .gform_body {

    ul li:before {
        font-family: inherit;
        content: none;
        padding-right: inherit;
        color: inherit;
    }
}



// Logos Sections /////////////////////////////////////////////////////////////////

.logos {
    background: $header-bg-color;
    padding-top: 80px;
    padding-bottom: 85px;
    // border-bottom: 1px solid darken($body-bg, 10%); 

    p {
        text-transform: uppercase;
        margin-top: 18px!important;
        color: #666666;
    }    

    img {
        border: none;
    }

    // .container .cred-logo.trec {
    //     padding-left: 50px;
    //     padding-right: 50px;
    // }
}

// Paragraph /////////////////////////////////////////////////////////////////

.body-content {

    p, ul, ol {
        margin: $paragraph-top-margin;
    }
}

.lead {
  font-size: $font-size-h6;
  font-weight: $regular;
}

// Widgets /////////////////////////////////////////////////////////////////

.widget ul.menu {
    list-style: none;
    padding-left: 0;
}

.body-content .widget {
    padding-bottom: $space-md;
}  

.sidebar .widget > div {
    margin-top: $space-sm;    
}

.sidebar .widget div > ul, ol {
    padding-left: 0px;

    li {
        margin-bottom: $space-xs;
    }
}

.footer .widget {
    padding-bottom: 0px!important;
}

.widget_sp_image img {
    height: auto;
    @include border-radius($border-radius-img);
}

.top-header .widget-title {
    margin-bottom: 5px;
}

.small-footer .menu li {
    display: inline;
}

// Video Player /////////////////////////////////////////////////////////////////

.btn-play {
z-index: 1000;
position: absolute;
left: 50%;
top: 50%;
color: #ffffff;
margin-left: -34px;
margin-top: -40px;
}

.player {
@include border-radius($border-radius-img);
// background-size: 100% auto;
// background-attachment: fixed;
background: #000000;
// height: 357px;
}

.flex-video {
    padding-top: 0px;
    background: darken($gray-lighter, 10%);    
    @include border-radius($border-radius-img);

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    iframe {
        @include border-radius($border-radius-img);
        padding: 5px;
    }
}

.flex-video.widescreen {
    padding-bottom: 56%;
}


// Reviews ////////////////////

.reviews {

    h5 {
        margin-top: $space-sm;
    }

    .reviews-row {
        margin-top: $space-lg;
    }

}

// Pricing Plans /////////////////////////////////////////

.plan {
    position: relative;
    @include box-sizing(border-box);
    border: 3px solid $gray;
    padding: 25px 0 0 0;
    @include border-radius(4px);
    text-align: center;
    color: $text-color;
    font-size: 18px;
    font-weight: normal;
}

.plan .description {
padding: 25px 40px;
font-size: 18px;
color: $text-color;
}

.plan .price {
padding-bottom: 30px;
border-bottom: 2px solid $gray;
}

.plan .description .description-box {
padding: 16px 0;
border-top: 2px solid $gray;
}

.plan .description .description-box:first-child {
border-top: 0;
}

.plan .btn {
display: block;
width: auto;
margin: 0 -2px -2px;
padding: 22px 20px 24px;
font-size: 22px;
@include border-radius(0 0 4px 4px);
}

.pricing {
    margin-top: 35px;
    margin-bottom: 80px;
}
